@font-face {
    font-family: "NeueHaasDisplay";
    src: url("../fonts/NeueHaasDisplayRoman.ttf");
}

@font-face {
    font-family: "LR";
    src: url("../fonts/lmroman10-regular.otf");
}

@font-face {
    font-family: "NBpro";
    src: url("../fonts/NB Grotesk Pro 55M Normal.ttf");
}

@font-face {
    font-family: "NB";
    src: url("../fonts/NB Grotesk 55 Normal.ttf");
}

* {
    padding: 0;
    margin: 0;

    color: white;
    background-color: rgb(15, 15, 15);

    box-sizing: border-box;

    cursor: default;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

.LR {
    font-family: "LR";
}

.LR-italic {
    font-family: "LR";
    font-style: italic;
}

.N {
    font-family: "NeueHaasDisplay";
}

#hero {
    padding: 80px;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
}

#nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

p {
    font-family: "NeueHaasDisplay";
    font-weight: 500;

    /* font-size: 1vw; */
    font-size: 17px;

    cursor: pointer;
}

.navlink {
    font-weight: 600;
}

.decor-navlink {
    font-weight: 600;

    text-align: right;
}

h1 {
    /* font-family: "NeueHaasDisplay"; */
    font-weight: 500;

    font-size: 8vw;
    line-height: 7vw;
}

#content-container {
    height: 100%;
}

#content-wrap {
    padding: 80px;
    /* height: 80vh; */
}

#content-wrap-gallery {
    padding: 80px;
    /* height: 80vh; */
}

#content-wrap-project {
    padding: 80px;
    height: 100%;
    width: 100%;
}

#nav-wrap {
    display: flex;
    justify-content: space-between;
}

#nav-right {
    text-align: right;
}

.content {
    display: none;
    /* position: absolute; */
    /* height: 100vh; */
    /* width: 100vw; */
}

.back-right {
    margin-left: auto;
}

.back-center {
    margin-left: auto;
    margin-right: auto;
}

#project-main {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    display: flex;

    left: 20%;
    margin-left: -10vh;

    /* padding-right: 40%; */
}

#projects-content {
    height: 100%;
}

#gsap-wrap {
    height: 100%;
}

.project-box {
    /* margin: 10px; */
    margin: 1vw;

    font-family: "NeueHaasDisplay";

    width: 40vh;

    /* text-align: center; */

    /* border-width: 2px;
    border-style: solid;
    border-color: rgb(75, 75, 75); */
}

.project-img {
    /* height: 30vh; */
    height: 20vh;
    width: 100%;
    background-color: rgb(78, 78, 78);

    /* outline: rgb(144, 144, 144) solid 1px; */

    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.252);
    transition: box-shadow 2s;

    justify-content: center;
    text-align: center;
    /* 
    filter: grayscale(0.5); */
    /* 
    display: none; */
    border-radius: 5px;
}

.project-img:hover {
    /* height: 30vh; */
    /* height: 220px;
    width: 100%; */

    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.69);

    transition: box-shadow 0.2s;
    /* transition: filter 0.2s; */
    /* 
    scale: 1 1.2; */
    /* filter: grayscale(0); */
}

.project-title {
    /* font-size: 1em; */
    font-weight: bold;

    /* text-align: center; */
}

/* .project-info {
    display: none;
} */

.project-info div {
    /* margin-top: 20px; */

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    /* margin-bottom: 5px; */

    /* text-align: left; */
}

.project-description {
    font-size: clamp(4px, 1vw, 15px);
}

.project-info div p {
    /* margin-top: 20px; */
    font-size: clamp(4px, 0.8vw, 12px);
    font-family: "NB";

    /* margin-left: 10px; */
    margin-top: 5px;
    margin-bottom: 5px;
}

.justify {
    text-align: justify;
    text-justify: inter-character;
}

.project-status {
    text-align: center;
    font-size: clamp(4px, 0.8vw, 12px);
}

/* ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
} */

ul {
    width: 100%;
}

ul > li {
    list-style-type: none;
    display: inline-block;

    background-color: rgb(53, 53, 53);
    padding: 8px;

    border-radius: 5px;

    /* margin-bottom: 2px; */
    /* 
    font-size: 0.7em; */
    font-size: max(5px, 0.6vw);
    font-family: "NB";
}

.tag-special {
    background-color: rgb(82, 82, 82);
}

#title {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    transform: translateY(-100px);
    transition: transform 0s;

    margin-top: 20px;
}

.title-animation {
    transform: translateY(150px);
    transition: transform 0s;
}

.move-up {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin-bottom: 10px;
}

.button-animation {
    transform: translateY(30px);
    transition: transform 0s;
}

.button-animation-delay {
    transform: translateY(30px);
    transition: transform 0s;
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    margin-bottom: 2px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#gallery-content {
    /* height: 100%; */
}

#gallery-wrap {
    margin-top: 8vw;
}

.gallery-row {
    display: flex;

    margin-bottom: 4vw;
}

/* #gallery-wrap div {
    display: flex;
} */

#gallery-wrap div div {
    margin-right: 2vw;
}

#gallery-wrap div div img {
    width: 10vw;
}
#gallery-wrap div div p {
    font-family: "NB";
    font-size: max(10px, 0.7vw);
    margin-bottom: 8px;
}

.p-wrap {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* .p-wrap p {
    transform: translateY(30px);
    transition: transform 0s;
} */

.img-wrap {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}

span {
    position: relative;
    display: block;
    cursor: pointer;
}

span:before,
span:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1.5px;
    top: 95%;
    margin-top: -0.5px;
    background: #fff;
}

span:before {
    left: -2.5px;
}
span:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
    background: #fff;
    width: 110%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
    background: transparent;
    width: 110%;
    transition: 0s;
}

.prev-title {
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
}
.prev-title p {
    text-align: center;
    font-family: "NB";
    font-size: 1.2vh;
}

#img-vsa {
    background-image: url("../assets/VSA/VSA-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-xegativ {
    background-image: url("../assets/xegativ/xegativ-grid.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-redwine {
    background-image: url("../assets/redwine/redwine-plot.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-move {
    background-image: url("../assets/mov-e/move-main-stretch.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-cr {
    background-image: url("../assets/crossyroad/crossyroad.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-outfit {
    background-image: url("../assets/outfitlb/outfit-ss.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-mysips {
    background-image: url("../assets/mysips/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-devpost {
    background-image: url("../assets/devpost-scraper/devpost.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-folio {
    background-image: url("../assets/folio/main.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
