@font-face {
    font-family: "NeueHaasDisplay";
    src: url("../fonts/NeueHaasDisplayRoman.ttf");
}

@font-face {
    font-family: "LR";
    src: url("../fonts/lmroman10-regular.otf");
}

@font-face {
    font-family: "LRI";
    src: url("../fonts/lmroman10-bolditalic.otf");
}

@font-face {
    font-family: "NBpro";
    src: url("../fonts/NBGroteskPro55MNormal.ttf");
}

@font-face {
    font-family: "NB";
    src: url("../fonts/NB Grotesk 55 Normal.ttf");
}

@font-face {
    font-family: "Z";
    src: url("../fonts/Hvnter\ -\ Zyft.otf");
}

@font-face {
    font-family: "PM";
    src: url("../fonts/ProtoMono-Regular.ttf");
}

@font-face {
    font-family: "NCL";
    src: url("../fonts/NCLKregas-Regular.ttf");
}

@font-face {
    font-family: "NCLO";
    src: url("../fonts/NCLKregas-Outline.woff2");
}

* {
    padding: 0;
    margin: 0;

    color: white;
    background-color: rgb(15, 15, 15);
    /* background-color: rgb(0, 0, 0); */

    box-sizing: border-box;

    cursor: default;
}

#alt-view {
    overflow-x: hidden;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
}

/* @media (pointer: none), (pointer: coarse) {
    #alt-view {
        display: block;
        position: absolute;
        min-height: 100%;
        width: 100%;
        z-index: 99;
    }

    * {
        overflow: hidden;
    }
} */

/* @media not (min-width: 705px) {
    #alt-view {
        display: block;
        position: absolute;
        min-height: 100%;
        width: 100%;
        z-index: 99;
    }

    * {
        overflow: hidden;
    }
}

@media not (min-height: 636px) {
    #alt-view {
        display: block;
        position: absolute;
        min-height: 100%;
        width: 100%;
        z-index: 99;
    }

    * {
        overflow: hidden;
    }
} */

@media (max-height: 840px) {
    #projects-border-bottom {
        display: none;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

.LR {
    font-family: "LR";
}

.LR-italic {
    font-family: "LR";
    font-style: italic;
}

.N {
    font-family: "NeueHaasDisplay";
}

.NCL {
    font-family: "NCL";
}

.NCLO {
    font-family: "NCLO";
}

.NCL-italic {
    font-family: "NCL";
    font-style: italic;
}

#hero {
    padding: 80px;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
}

#nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

p {
    font-family: "PM";
    font-weight: 500;

    font-size: 17px;
    line-height: 15px;
}

.navlink {
    font-weight: 600;
}

.decor-navlink {
    font-weight: 600;
    text-align: right;
}

#content-container {
    height: 100%;
}

#content-wrap {
    padding: 80px;
    /* height: 80vh; */
}

#content-wrap-gallery {
    padding: 80px;
    /* height: 80vh; */
}

#content-wrap-project {
    padding: 80px;
    height: 100%;
    width: 100%;
}

#nav-wrap {
    display: flex;
    justify-content: space-between;
}

#nav-right {
    text-align: right;
}

.content {
    display: none;
    /* position: absolute; */
    /* height: 100vh; */
    /* width: 100vw; */
}

.back-right {
    margin-left: auto;
}

.back-center {
    margin-left: auto;
    margin-right: auto;
}

#about-content {
    height: 100%;
}

#about-content > #content-wrap {
    height: 100%;
}

#about-main {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
}

#about-main p {
    font-size: 10px;
    line-height: 15px;
    font-family: "PM";
    color: rgba(255, 255, 255, 0.4);

    transition: color 1.5s;
}

#about-main .exp-title {
    color: white;
}

.exp-description p {
    color: rgba(255, 255, 255, 0.4);
}

.exp-col ul {
    margin-left: 15px;
    /* list-style: none; */
    text-align: justify;
    text-justify: inter-character;
}

/* .exp-col > div {
    border-bottom: white 1px dotted;
} */

.exp-flex {
    display: flex;
    justify-content: space-between;
}

.exp-right {
    text-align: right;
}

#about-main p:hover {
    color: rgba(255, 255, 255, 1);

    transition: color 0.2s;
}

#about-left #about-focus {
    font-size: 10px;
    line-height: 15px;
    font-family: "PM";
    font-weight: 500;
    text-transform: uppercase;

    /* letter-spacing: 0.9px; */

    color: rgba(255, 255, 255, 1);
}

#about-right h1 {
    font-family: "NBPro";
    font-weight: 500;
    color: rgba(255, 255, 255, 0.4);
    font-size: 2.8vw;
    line-height: 2.5vw;

    margin-top: 3px;
    margin-bottom: 3px;

    transition: color 1.5s;
}

#about-right h1:hover {
    font-family: "NBPro";
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    font-size: 2.8vw;
    line-height: 2.5vw;

    margin-top: 3px;
    margin-bottom: 3px;

    transition: color 0.2s;
}

#about-main > div {
    width: 100%;
}

#about-left {
    display: flex;
}

#about-left > div {
    width: 50%;
}

#about-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-spread {
    display: flex;
    justify-content: space-between;
}

.about-spread-vert {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.about-spread-no-width {
    display: flex;
    justify-content: space-between;
}

.about-spread > div {
    /* flex: 1; */
    width: 16%;
}

.text-right {
    text-align: right;
}

#about-lower-right {
    display: block;
}

#project-main {
    margin: 0;
    position: absolute;
    /* CHECK */
    top: 25vh;
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */

    display: flex;

    left: 20%;
    margin-left: -10vh;

    /* padding-right: 40%; */
}

#projects-content {
    height: 100%;
}

#projects-border-wrap {
    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

.projects-border {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.projects-border p {
    font-size: 10px;
    font-family: "PM";
    color: rgba(255, 255, 255, 0.4);
}

#gsap-wrap {
    height: 100%;
}

.project-box {
    background: rgba(0, 0, 0, 0);
    /* margin: 1rgba(0, 0, 0, 0)*/
    margin: 1vw;

    font-family: "NeueHaasDisplay";

    width: 40vh;

    /* text-align: center; */

    /* border-width: 2px;
    border-style: solid;
    border-color: rgb(75, 75, 75); */
}

.project-img {
    /* height: 30vh; */
    height: 20vh;
    width: 100%;
    background-color: rgb(78, 78, 78);

    /* outline: rgb(144, 144, 144) solid 1px; */

    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.252);
    transition: box-shadow 1.5s;

    justify-content: center;
    text-align: center;
    /* 
    filter: grayscale(0.5); */
    /* 
    display: none; */
    /* border-radius: 5px; */
}

.project-img-link {
    display: block;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.project-img:hover {
    /* height: 30vh; */
    /* height: 220px;
    width: 100%; */

    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.69);

    transition: box-shadow 0.2s;
    /* transition: filter 0.2s; */
    /* 
    scale: 1 1.2; */
    /* filter: grayscale(0); */
}

.project-title {
    /* font-size: 1em; */
    font-size: 10px;
    font-family: "PM";

    /* text-align: center; */
}

/* .project-info {
    display: none;
} */

.project-info div {
    /* margin-top: 20px; */

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    /* margin-bottom: 5px; */

    /* text-align: left; */
}

.project-description {
    /* font-size: clamp(10px, 1.2vh, 12px);
    font-family: "NB"; */
    font-size: 10px;
    line-height: 12px;
    font-family: "PM";
    margin-top: 5px;
    margin-bottom: 5px;
    /* 
    opacity: 0.4; */
}

.justify {
    text-align: justify;
    text-justify: inter-character;
}

/* .project-status {
    text-align: center;
    font-size: clamp(4px, 0.8vw, 12px);
} */

/* ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
} */

.project-box ul {
    width: 100%;
}

.project-box ul > li {
    list-style-type: none;
    display: inline-block;

    padding: 8px;

    /* background-color: rgb(53, 53, 53); */
    /* border-radius: 5px; */
    border: rgba(255, 255, 255, 0.4) solid 1px;
    color: rgba(255, 255, 255, 0.4);

    margin-bottom: 3px;
    /* 
    font-size: 0.7em; */
    font-size: 9px;
    font-family: "PM";
}

.tag-special {
    /* background-color: rgb(82, 82, 82); */
    color: white;
    border: rgba(255, 255, 255, 1) solid 1px;
}

#title {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    transform: translateY(-100px);
    transition: transform 0s;

    margin-top: 20px;

    /* text-align: center;
    font-family: "Z"; */
}

/* #title h1 {
    background: linear-gradient(to right, rgb(252, 100, 0), rgb(252, 0, 200));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
} */

.title-animation {
    transform: translateY(150px);
    transition: transform 0s;

    font-weight: 500;

    /* font-size: 10vw;
    line-height: 8.7vw; */
    font-size: 6.7vw;
    line-height: 6vw;
}

/* @media (max-width: 1010px) {
    .title-animation {
        font-size: 100px;
        line-height: 87px;
    }
}

@media (max-width: 840px) {
    .title-animation {
        font-size: 80px; 
        line-height: 70px;
    }
} */

.move-up {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin-bottom: 15px;
}

.button-animation {
    transform: translateY(30px);
    transition: transform 0s;
}

.button-animation-delay {
    transform: translateY(30px);
    transition: transform 0s;
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    margin-bottom: 2px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#gallery-content {
    /* height: 100%; */
}

#gallery-wrap {
    margin-top: 3vw;
}

.gallery-border {
    margin-bottom: 4vw;
    display: flex;
    justify-content: space-between;
}

.gallery-border p {
    font-size: 10px;

    font-family: "PM";
    color: rgba(255, 255, 255, 0.4);
}

.gallery-row {
    display: flex;

    margin-bottom: 4vw;
}

/* #gallery-wrap div {
    display: flex;
} */

#gallery-wrap div div {
    margin-right: 2vw;
}

#gallery-wrap div div img {
    width: 10vw;
}
#gallery-wrap div div p {
    /* font-family: "NB";
    font-size: max(10px, 0.7vw); */
    margin-bottom: 8px;

    font-size: 10px;

    font-family: "PM";
    font-weight: 500;
    text-transform: uppercase;
}

.p-wrap {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.p-wrap p {
    opacity: 0.4;
    transition: opacity 1.5s;
}

.p-wrap p:hover {
    opacity: 1;
    transition: opacity 0.2s;
}

/* .p-wrap p {
    transform: translateY(30px);
    transition: transform 0s;
} */

.img-wrap {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.img-wrap img {
    border: 1px dashed rgba(255, 255, 255, 0.4);
    transition: border 1.5s;
}

.img-wrap img:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    transition: border 0.2s;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}

.ani-span {
    position: relative;
    display: block;
    cursor: pointer;
}

.ani-span:before,
.ani-span:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1.5px;
    top: 95%;
    margin-top: -0.5px;
    background: #fff;
}

.ani-span:before {
    left: -2.5px;
}
.ani-span:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.ani-span:hover:before {
    background: #fff;
    width: 110%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.ani-span:hover:after {
    background: transparent;
    width: 110%;
    transition: 0s;
}

.prev-title {
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
}
.prev-title p {
    text-align: center;
    font-family: "PM";
    font-size: 10px;

    opacity: 0.4;
}

#img-vsa {
    background-image: url("../assets/VSA/vsa-title.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-xegativ {
    background-image: url("../assets/xegativ/xegativ-grid.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-redwine {
    background-image: url("../assets/redwine/redwine-plot.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-move {
    background-image: url("../assets/mov-e/move-title.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-cr {
    background-image: url("../assets/crossyroad/crossyroad.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-outfit {
    background-image: url("../assets/outfitlb/outfit-title.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-mysips {
    background-image: url("../assets/mysips/mysipstitle-orange.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-devpost {
    background-image: url("../assets/devpost-scraper/devposttitle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-folio {
    background-image: url("../assets/folio/Main3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-ip {
    background-image: url("../assets/irrigation-pred/half-sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-dsci {
    background-image: url("../assets/DSCI/hometitle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#img-pp {
    background-image: url("../assets/polaparty/pp-edit-noise.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* ALT VIEW */

.alt-title {
    /* font-family: "NB"; */
    font-family: "NCL";
    /* line-height: 95px;
    font-size: 110px; */
    line-height: 20vw;
    font-size: 24vw;
    /* 
    margin-top: 10px;
    margin-bottom: 10px; */
    margin: 10px 2px 10px 2px;
    /* color: orange; */

    background: linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgb(255, 255, 255)
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    /* text-shadow: 0px 3px 3px rgb(255, 244, 244); */
}

#alt-view {
    padding: 10px;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
}

#alt-col-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.alt-col {
    width: 25%;
    margin: 0px 5px 0px 5px;
    /* background-color: rgb(49, 49, 49); */
}

#alt-view > div {
    margin-bottom: 20px;
}

#alt-view div p {
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;

    font-family: "PM";
    font-size: clamp(9px, 3vw, 12px);
    line-height: clamp(12px, 4vw, 15px);
}

#alt-view div .alt-highlight {
    color: rgba(255, 255, 255, 0.6);
}

#alt-view > div > p {
    margin-left: 5px;
    margin-right: 5px;
}

.alt-indent {
    margin-left: 50px;
}

/* RESUME CONTENT*/

#resume-vert-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    text-align: center;

    width: 100%;
    padding-left: 80px;
    padding-right: 80px;

    background: rgba(255, 255, 255, 0);

    z-index: 0;
}

.resume-col-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resume-col-wrap p {
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;

    font-family: "PM";
    font-size: 10px;
}

#resume-hor-flex {
    display: flex;
    justify-content: space-between;
}

#resume-download {
    font-family: "PM";
}

#resume-center {
    margin-bottom: 20px;
}

.resume-row {
    letter-spacing: 5px;
}

.resume-row p {
    font-family: "PM";
    font-size: 10px;
    text-align: center;
}

#resume-header {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    padding-bottom: 10px;
}

#resume-header p {
    display: flex;
    justify-content: space-between;

    font-family: "PM";
    font-size: 10px;
}

/* other */

.details {
    color: rgba(255, 255, 255, 0.4);
}

.details-h {
    color: rgba(255, 255, 255, 0.6);
}

.tab1 {
    tab-size: 2;
}

.tab2 {
    tab-size: 4;
}

.tab4 {
    tab-size: 8;
}

.file-add {
    color: rgba(255, 255, 255, 0.5);
}
