@font-face {
    font-family: "NeueHaasDisplay";
    src: url("../fonts/NeueHaasDisplayRoman.ttf");
}

@font-face {
    font-family: "LR";
    src: url("../fonts/lmroman10-regular.otf");
}

@font-face {
    font-family: "NBpro";
    src: url("../fonts/NB Grotesk Pro 55M Normal.ttf");
}

@font-face {
    font-family: "NB";
    src: url("../fonts/NB Grotesk 55 Normal.ttf");
}

* {
    padding: 0;
    margin: 0;

    color: white;
    background-color: rgb(15, 15, 15);

    box-sizing: border-box;

    cursor: default;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

.LR {
    font-family: "LR";
}

.LR-italic {
    font-family: "LR";
    font-style: italic;
}

.N {
    font-family: "NeueHaasDisplay";
}

#hero {
    padding: 80px;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
}

#nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

p {
    font-family: "NeueHaasDisplay";
    font-weight: 500;

    /* font-size: 1vw; */
    font-size: 17px;

    cursor: pointer;
}

.navlink {
    font-weight: 600;
}

.decor-navlink {
    font-weight: 600;

    text-align: right;
}

h1 {
    /* font-family: "NeueHaasDisplay"; */
    font-weight: 500;

    font-size: 8vw;
    line-height: 7vw;
}

#content-wrap {
    margin: 80px;
    height: 80vh;
}

#nav-wrap {
    display: flex;
    justify-content: space-between;
}

#nav-right {
    text-align: right;
}

.content {
    display: none;
    position: absolute;
    /* height: 100vh; */
    width: 100vw;
}

.back-right {
    margin-left: auto;
}

.back-center {
    margin-left: auto;
    margin-right: auto;
}

#project-main {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    display: flex;

    left: 20%;
    margin-left: -10vh;

    /* padding-right: 40%; */
}

.project-box {
    /* margin: 10px; */
    margin: 0.1vw;

    font-family: "NeueHaasDisplay";

    width: 20vh;

    text-align: center;

    /* border-width: 2px;
    border-style: solid;
    border-color: rgb(75, 75, 75); */
}

.project-img {
    /* height: 30vh; */
    height: 10vh;
    width: 100%;
    background-color: rgb(78, 78, 78);

    outline: rgb(168, 168, 168) solid 1px;

    transition: background-color 2s;

    justify-content: center;
    text-align: center;
}

.project-img:hover {
    /* height: 30vh; */
    /* height: 220px;
    width: 100%; */
    background-color: rgb(119, 119, 119);
    transition: background-color 0.2s;
    /* transition: scale 0.2s;

    scale: 1 1.2; */
}

.project-title {
    /* font-size: 1em; */
    font-weight: bold;
    font-family: "NB";

    text-align: center;
}

.project-info {
    display: none;
}

.project-info div {
    /* margin-top: 20px; */
    font-size: clamp(4px, 0.6vw, 5px);

    /* margin-left: 10px; */
    margin-top: 10px;
    /* margin-bottom: 5px; */

    /* text-align: left; */
}

.project-info div p {
    /* margin-top: 20px; */
    font-size: clamp(4px, 0.6vw, 5px);
    font-family: "NB";

    /* margin-left: 10px; */
    margin-top: 5px;
    margin-bottom: 5px;

    text-align: justify;
    text-justify: inter-character;
}

/* ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
} */

ul {
    width: 100%;
}

ul > li {
    list-style-type: none;
    display: inline-block;

    background-color: rgb(53, 53, 53);
    padding: 2px;

    /* border-radius: 5px; */

    /* margin-bottom: 2px; */
    /* 
    font-size: 0.7em; */
    font-size: max(3px, 0.18vw);
    font-family: "NB";
}

.tag-special {
    background-color: rgb(82, 82, 82);
}

#title {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    transform: translateY(-100px);
    transition: transform 0s;

    margin-top: 20px;
}

.title-animation {
    transform: translateY(150px);
    transition: transform 0s;
}

.move-up {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin-bottom: 10px;
}

.button-animation {
    transform: translateY(30px);
    transition: transform 0s;
}

.button-animation-delay {
    transform: translateY(30px);
    transition: transform 0s;
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    margin-bottom: 2px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
